<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/login.css') }}">
</head>

<body>

    <div class="main-container">
        <div class="login-container">
            <p>Please Login</p>
            <input class='form'id=email placeholder="Email Address">
            <input class='form' id=password placeholder="Password" type="password">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                  </label>
            <button id="btn">Login</button>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {  
        $("#btn").click(function (){
            const email = $('#email').val()
            const password = $('#password').val()

            $.ajax('/login', { data: { email: email,
            password:password},
                type: "POST",
                error: function(res) {
                    alert(`${JSON.parse(res.responseText).error}, status=${res.status}`)
                    
                },
                success: function(res) {
                    alert(JSON.parse(res).message);
                    window.location.href = '/';
                }
            });
        });
    })
    </script>
</body>
</html>